<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por usuar DeudasApp</h1>
    <p>Su clave de acceso es: </p>
    <p><strong><%= @pass %></strong></p>
    <p>No la olvide</p>
  </body>
</html>